@font-face {
    font-family: "Myriad Pro";
    src: url("fonts/Myriad Pro Regular.ttf");
    font-style: normal;
}

/* Common */

*, *::before, *::after {
    box-sizing: border-box;
}

*, *::before, *::after {
    transition: 0.3s;
}

html {
    height: 100vh;
    font-size: 16px;
    min-width: 1200px;
    scroll-behavior: smooth;
}

body {
    font-family: "Myriad Pro", sans-serif;
    position: relative;
    min-width: 100%;
    min-height: 100vh;
}

a {
    text-decoration: none;
    color: inherit;
}

main {
    min-height: 100vh;
}

section {
    justify-content: center;
    align-items: center;
    height: 100vh;
}

section div p:first-child {
    margin-top: 0;
}

section div img {
    max-width: 100%;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

ul.marked {
    list-style: disc;
    margin-left: 2rem;
}

.align-stretch {
    align-items: stretch !important;
}

.h-100 {
    height: 100%;
}

.arrow-next-section {
    background: url(../img/elements/arrow.png) center center no-repeat;
    cursor: pointer;
    height: 27px;
    width: 64px;
    margin-top: 2rem;
}

.block {
    display: block;
}

a.block {
    height: 100%;
    width: 100%;
}

a.empty {
    text-indent: -9999px;
}

p.small {
    font-size: 1rem !important;
}

.bg-y, .bg-y-hover:hover {
    background-color: #FFC900;
    opacity: 0.9;
}

.bg-w {
    background-color: rgba(255, 255, 255, 0.9);
}

.button {
    cursor: pointer;
    padding: 0 20px;
}

.button-small {
    height: 42px;
    width: 132px;
    line-height: 42px;
    color: #000;
    font-weight: bold;
    font-style: italic;
    text-align: center;
}

.center {
    text-align: center;
}

.right {
    text-align: right;
}

.fcw {
    color: #fff;
}

.fs-lh-3 p {
    font-size: 1.3rem;
    line-height: 1.7rem;
}

.flex-column {
    flex-direction: column;
}

.space-between {
    justify-content: space-between !important;
}

.flex {
    display: flex;
}

.fs-2r {
    font-size: 2rem;
}

.htext65 {
    height: 65px;
    line-height: 65px;
}

.header-subcaption {
    font-style: italic;
    width: 70%;
}

.h-margin {
    min-height: calc(100vh - 170px) !important;
    height: calc(100vh - 170px) !important;
    margin-top: 170px;
}

.ls-2 {
    letter-spacing: 2px;
}

.mb-10 {
    margin-bottom: 10px;
}

.section-block {
    width: 1150px;
    padding: 12px 50px;
    position: relative;
}

.section-block h1.large {
    font-size: 3.5rem;
}

.section-block h2.large {
    font-size: 2.5rem;
}

.section-block h3.large {
    font-size: 1.8rem;
}

.section-block h4.large {
    font-size: 1.5rem;
}

.section-block.flex {
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.section-block .section-block-caption {
    justify-content: center;
    padding: 20px 0;
}

.section-block .section-block-caption h1 {
    margin: 0;
}

.section-block .section-block-caption-wrapper {
    width: 700px;
    padding: 0 20px;
}

.section-block .section-caption-bg {
    padding: 3px;
}

.section-block .section-block-content {
    padding: 50px 0;
    justify-content: space-between;
}

.section-block .section-block-tabs {
    height: 3.2rem;
    position: absolute;
    top: -50px;
    left: 0;
    width: 100%;
}

.section-block .section-tab__control {
    background-color: #FFC900;
    height: 3.2rem;
    line-height: 3.2rem;
    width: 15rem;
    text-align: center;
    font-size: 1.2rem;
    margin-left: 1rem;
    position: relative;
    z-index: 5;
}

.section-block .section-tab__control::before {
    content: '';
	position: absolute;
	top: 0; right: 0; bottom: 0; left: 0;
	z-index: -1;
	background: #FFC900;
	transform: scale(1.13, 1.12) perspective(2em) rotateX(5deg);
	transform-origin: bottom;
    box-shadow: 0.1em -0.15em 0.5em -0.1em #666;
}

.section-block .section-tab__control.active,
.section-block .section-tab__control.active::before,
.section-block .section-tab__control:hover,
.section-block .section-tab__control:hover::before {
    background-color: #fff;
}

.section-block .section-tab__control.active {
    z-index: 10;
}

.section-block .section-tab__control:first-child {
    margin-left: 2rem;
}

.section-block .section-tab__control-link {
    display: block;
    height: 100%;
    cursor: pointer;
}

.section-block .section-tab__content-item {
    display: none;
}

.section-block .section-tab__content-item.active {
    display: flex;
}

.section-block .section-block-buttons {
    justify-content: flex-end;
}

.section-block-buttons .button {
    margin: 10px;
}

.section-block-buttons .button:last-child {
    margin-right: 0;
}

.section-block div {
    opacity: 1;
}

.col-2 {
    flex-direction: row !important;
}

.col-2 div {
    flex: 50% 1 1;
}

.flex-center {
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
}

.italic {
    font-style: italic;
}

.header-underlined {
    min-width: 15rem;
    text-align: center;
}

.header-underlined::after {
    display: block;
    height: 1px;
    background-color: #FFC900;
    width: 15rem;
    content: '';
    margin: 10px auto 0;
}

.section-vh {
    min-height: 100vh;
    position: relative;
}

.section-first {
    align-items: flex-end;
}

.shadow {
    box-shadow: 3px 3px 15px 1px #666;
}

.skew-right {
    -webkit-transform: skewX(-20deg);
    transform: skewX(-10deg);
    -webkit-transform-origin: 50% 50% 0;
    transform-origin: 50% 50% 0;
}

.skew-left {
    -webkit-transform: skewX(20deg);
    transform: skewX(10deg);
    -webkit-transform-origin: 50% 50% 0;
    transform-origin: 50% 50% 0;
}

.text-block-left {
    margin-right: 2rem;
}

.text-block-right {
    margin-left: 2rem;
}

.upper {
    text-transform: uppercase;
}

/* Page 404, Maintenance */

.single-section {
    justify-content: center;
    font-size: 2rem;
}

.single-section section {
    padding: 0 2rem;
    align-items: center;
}

/* Index */

.b-index {
    height: 100vh;
    overflow: hidden;
    background-color: #b3d9ff;
}

.b-index .container {
    top: 0;
    height: 100vh;
}

.video-contain {
    display: none;
}

.b-index .video-contain {
    width: 100%;
    max-height: 100vh;
    position: absolute;
    top: -5px;
    left: 0;
    display: block;
}

.bg-video {
    width: 100%;
    max-height: 100%;
    opacity: 0.8;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    background: url(../img/index2.png) center center no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    background-attachment: fixed;
    display: none;
    z-index: 1;
}

.b-regular .overlay {
    display: block;
}

.grid {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: url(../img/setka.png) 0 0 repeat;
    z-index: 2;
}

.container {
    position: relative;
    min-height: 100vh;
    width: 100%;
}

header, footer, .container {
    z-index: 3;
}

.index {
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

.logo-block {
    height: 30rem;
    width: 55rem;
    flex-direction: column;
    justify-content: space-between;
}

.logo-block .button {
    height: 65px;
    width: 270px;
}

.button div, .phones div {
    height: 100%;
}

.logo-block .phones-block {
    justify-content: flex-end;
}

.logo-block .phones {
    height: 65px;
    width: 660px;
}

.main-menu {
    justify-content: space-around;
}

.main-menu > div {
    height: 275px;
}

.main-menu .logo {
    width: 600px;
}

.main-menu .logo .logo-img {
    width: 492px;
}

.main-menu .menu-items {
    font-style: italic;
    font-size: 2rem;
    margin-left: -2rem;
    line-height: 55px;
}

.main-menu .menu-items nav {
    height: 100%;
    padding: 0;
    width: 288px;
    margin: 0 -54px;
}

.menu-items #item-1 {
    margin: 0 34px 0 73px;
}

.menu-items #item-2 {
    margin: 0 44px 0 64px;
}

.menu-items #item-3 {
    margin: 0 54px 0 54px;
}

.menu-items #item-4 {
    margin: 0 64px 0 44px;
}

.menu-items #item-5 {
    margin: 0 73px 0 34px;
}

.menu-items li {
    z-index: 4;
    position: relative;
}

.menu-items li:hover {
    cursor: pointer;
}

.menu-items li a {
    display: block;
    height: 100%;
    width: 100%;
}

/* Header */

header {
    height: 170px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
}

header .nav-wrapper {
    height: 65px;
}

header nav {
    height: 65px;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 10;
}

header nav ul {
    justify-content: flex-end;
}

header nav ul li {
    line-height: 65px;
    font-size: 2rem;
}

header nav ul li a {
    display: block;
    height: 100%;
    padding: 0 2rem;
}

header .logo-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

header .logo-img {
    width: 310px;
    height: 170px;
    position: relative;
}

header .logo-img .logo-bg-header {
    position: absolute;
    height: 105px;
    top: 65px;
    left: 20px;
    width: 100%;
}

header .logo-img a {
    display: block;
    height: 100%;
    width: 100%;
    position: absolute;
    left: 26px;
    z-index: 5;
}

header .logo-wrapper .logo-phones {
    position: absolute;
    bottom: 0;
    right: 20px;
}

header .logo-wrapper .logo-phones .phones {
    padding: 0 20px;
}

/* Fences */

.fences h1 {
    font-weight: normal;
    font-size: 1.5rem;
    font-style: italic;
}

.fence-item {
    width: 208px;
    padding: 10px;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    height: 300px;
}

.fence-item .header {
    font-weight: bold;
}

.img-circle {
    border-radius: 50%;
}

.fence-item .img-circle {
    height: 188px;
    width: 188px;
}

.img-profnastil {
    background: url(../img/fences/profnastil.png) -118px center no-repeat;
    background-size: 173%;
}

.img-shtaketnik {
    background: url(../img/fences/shtaketnik.jpg) -134px center no-repeat;
    background-size: 173%;
}

.img-rabitsa {
    background: url(../img/fences/rabitsa.jpg) -97px center no-repeat;
    background-size: 154%;
}

.img-gitter {
    background: url(../img/fences/gitter.jpg) -22px center no-repeat;
    background-size: 118%;
}

.fence-schema, .fence-desc {
    flex: 50% 1 1;
}

.fence-schema img {
    max-width: 100%;
}

.fence-desc {
    margin-left: 2rem;
    font-size: 1.3rem;
    line-height: 1.7rem;
}

/* Gates */

.gate-img, .gate-desc {
    flex: 50% 1 1;
}

.gate-img img {
    max-width: 100%;
    max-height: 360px;
}

.gate-item {
    height: 23rem;
}

/* About */

.guarantee-items .img-circle {
    height: 250px;
    width: 250px;
    min-height: 250px;
    min-width: 250px;
}

.guarantee-items div {
    padding: 0 4rem;
}

.img-steel {
    background: url(../img/steel.jpg) center center no-repeat;
    background-size: 140%;
}

.img-came-logo {
    background: url(../img/came-logo.jpg) center center no-repeat;
    background-size: 105%;
}

.img-delivery {
    background: url(../img/delivery.jpg) center center no-repeat;
    background-size: 142%;
}

.img-foundation {
    background: url(../img/foundation.jpg) center center no-repeat;
    background-size: 160%;
}

.img-automatics {
    background: url(../img/automatics.jpg) center center no-repeat;
    background-size: 137%;
}

.assembling-items {
    width: 60%;
    flex-direction: column;
}

.assembling-items .item {
    align-items: center;
    padding: 0.5rem 0;
}

.assembling-items .img-circle {
    height: 188px;
    width: 188px;
    min-width: 188px;
}

.call {
    height: 112px;
    width: 112px;
    background: url(../img/elements/button-call.png) center center no-repeat;
    background-size: cover;
    position: fixed;
    z-index: 10;
    bottom: 40px;
    right: 20px;
    padding: 15px;
}

.call a {
    text-indent: -9999px;
}

/* Feedback */

.form-field {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 1rem;
}

.form-field input, .form-field textarea {
    width: 100%;
    border: 2px solid #FFC900;
    padding: 0.25rem;
    font-size: 1.2rem;
    background-color: rgba(255, 255, 255, 0.5);
}

.feedback-form input {
    line-height: 2rem;
}

.form-field label {
    margin-bottom: 0.25rem;
    font-weight: bold;
}

.form-field .button-right {
    justify-content: flex-end;
}

.form-field .invalid {
    background-color: rgba(255, 0, 0, 0.2);
}

textarea {
    resize: none;
}

.contact-box-wrapper {
    align-self: stretch;
}

.contact-box {
    min-height: 80px;
    margin: 1rem;
    padding: 0.6rem;
    align-items: center;
}

.contact-box > a {
    align-items: center;
}

.contact-box .contact-box-icon {
    height: 80px;
    width: 80px;
    max-width: 80px;
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
}

.contact-box .contact-box-text {
    font-weight: bold;
    margin-left: 2rem;
    text-align: center;
}

.contact-box-wrapper-caption {
    height: auto;
    min-height: auto;
    padding: 0;
}

.icon-phone {
    background-image: url(../img/elements/icon-phone.png);
}

.icon-email {
    background-image: url(../img/elements/icon-email.png);
}

.icon-address {
    background-image: url(../img/elements/icon-address.png);
}

.icon-vk {
    background-image: url(../img/elements/icon-vk.png);
}

/* Footer */

footer .warranty {
    background-color: #fff;
    height: 120px;
    justify-content: space-around;
    align-items: center;
}

footer .warranty-text {
    font-size: 1.8rem;
    font-weight: bold;
}

footer .contacts {
    background-color: #000;
    height: 180px;
    justify-content: space-around;
    align-items: center;
}

footer .contacts .address {
    line-height: 2rem;
}

footer .footer-menu {
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    padding: 30px 0;
}

footer .footer-menu ul {
    line-height: 50px;
    height: 50px;
}

footer .footer-menu ul a {
    padding: 0 15px;
}

/* Tables */

.site-table {
	border-collapse: collapse;
	width: 100%;
	border: 0.1rem solid #D49200;
}

.site-table td {
	border: 0.1rem solid #D49200;
	padding: 0.5rem;
}

.site-table thead tr {
	background-color: #FFD800;
	font-weight: bold;
	text-align: center;
}

.site-table tr {
	background-color: #FFD800;
}

.site-table tbody tr:nth-child(even) {
	background-color: #FFF895;
}

/* Modals */

.modal {
	background-color: rgba(0, 0, 0, 0.7);
	display: none;
	height: 100%;
	left: 0;
	overflow: auto;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 1000;
}

.modal-wrapper {
	height: 100%;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.modal-content {
	position: relative;
	min-height: 150px;
	padding: 1rem;
	min-width: 30%;
    max-width: 60%;
}

.modal-close {
	cursor: pointer;
	position: absolute;
	top: 0.4rem;
	right: 0.4rem;
    font-size: 1.5rem;
}

.modal-row {
	height: 100%;
	display: flex;
	justify-content: space-around;
	align-items: center;
    font-size: 1.2rem;
    margin: 30px;
}

.modal-icon-wrapper {
    font-size: 4rem;
}

.modal-row p {
	padding: 0;
	margin: 20px;
}

.modal-content h3 {
    font-size: 1.5rem;
    text-align: center;
    margin: 0.3rem 0;
}

.modal-content h4 {
    font-size: 1.2rem;
    text-align: center;
    margin: 1rem 0;
}

.modal-action-result {
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: none;
}

#submit-order-form {
    width: 14rem;
}

/* Admin page */

header.apanel h1 {
    margin: 0;
    line-height: 65px;
}

header.apanel h1, header.apanel p {
    padding: 0 2rem;
}

header.apanel a {
    line-height: 65px;
    text-decoration: underline;
    font-size: 1.5rem;
}

header.apanel .nav-wrapper {
    align-items: center;
}

.apanel-section {
    height: auto;
    margin-top: 170px;
}

.apanel-form input {
    width: 6rem;
}
