<header class="apanel">
    <div class="nav-wrapper bg-w flex">
        <h1>Панель администратора</h1>
        <p>
            <a href="%site_address%">Перейти на сайт</a>
        </p>
    </div>
</header>
