<main class="flex flex-column single-section">
    <section class="flex section-first">
        <div class="section-block bg-w center">
            <h1>Раздел находится в разработке</h1>
            <p>Скоро здесь появится полезная информация.</p>
        </div
    </section>
</main>
