<tr>
    <td>
        <input type="text" name="%tableName%_%id%[height]" value="%height%"> м
    </td>
    <td>столб 60х60</td>
    <td>
        <input type="text" name="%tableName%_%id%[logs]" value="%logs%"> шт.
    </td>
    <td>
        <input type="text" name="%tableName%_%id%[unilaterally]" value="%unilaterally%"> р.
    </td>
    <td>
        <input type="text" name="%tableName%_%id%[stagged]" value="%stagged%"> р.
    </td>
    <td>
        от <input type="text" name="%tableName%_%id%[ribbonFoundation]" value="%ribbonFoundation%"> р.
    </td>
</tr>
