<tr>
    <td>
        <input type="text" name="%tableName%_%id%[height]" value="%height%"> м
    </td>
    <td>
        <input type="text" name="%tableName%_%id%[oneSide]" value="%oneSide%"> р.
    </td>
    <td>
        <input type="text" name="%tableName%_%id%[twoSides]" value="%twoSides%"> р.
    </td>
    <td>
        <input type="text" name="%tableName%_%id%[zink]" value="%zink%"> р.
    </td>
</tr>
