<tr>
    <td>
        <input type="text" name="%tableName%_%id%[height]" value="%height%"> м
    </td>
    <td>
        <input type="text" name="%tableName%_%id%[price]" value="%price%"> р.
    </td>
</tr>
