<tr>
    <td>
        <input type="text" name="%tableName%_%id%[height]" value="%height%"> м
    </td>
    <td>
        <input type="text" name="%tableName%_%id%[thickness1]" value="%thickness1%"> р.
    </td>
    <td>
        <input type="text" name="%tableName%_%id%[thickness2]" value="%thickness2%"> р.
    </td>
    <td>
        <input type="text" name="%tableName%_%id%[thickness3]" value="%thickness3%"> р.
    </td>
</tr>
